<form (ngSubmit)="onSubmit()">
  <app-control label="Title">
    <input name="title" id="title" #input [(ngModel)]="enteredTitle" />
  </app-control>
  <app-control label="Request">
    <textarea
      name="request"
      id="request"
      rows="3"
      #input
      [(ngModel)]="enteredText"
    ></textarea>
  </app-control>
  <p>
    <button appButton>
      Submit
      <span ngProjectAs="icon">👌</span>
    </button>
  </p>
</form>

<!-- By default you get access to the DOM element, but if
 you attach # to components, such as <button appButton> then it
  won't be a DOM element -->
